[submodule "client-common-java"]
	path = client-common-java
	url = git@github.com:kontalk/client-common-java.git
[submodule "emojicon"]
	path = emojicon
	url = git@github.com:kontalk/emojicon.git
[submodule "CircleImageView"]
	path = CircleImageView
	url = git@github.com:kontalk/CircleImageView.git
