<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.nuntius"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <service
            android:label="@string/service_name"
            android:name=".service.MessageCenterService"/>
        <receiver android:name="IncomingTestReceiver">
            <intent-filter>
                <action android:name="org.nuntius.MESSAGE_RECEIVED"></action>
            </intent-filter>
        </receiver>
        <provider android:name=".provider.MessagesProvider"
            android:authorities="org.nuntius.messages"/>
        <activity android:name=".ui.ConversationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider android:name=".provider.UsersProvider"
            android:authorities="org.nuntius.users"/>
        <activity android:name=".ui.MessagingPreferenceActivity"></activity>
    </application>
</manifest>
