<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- Kontalk Android client
     Copyright (C) 2017 Kontalk Devteam <devteam@kontalk.org>

     This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="org.kontalk">
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- internal permissions -->
    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application>

        <!-- Services -->
        <service android:name=".service.gcm.GcmIntentService"/>

        <!-- Broadcast receivers -->
        <receiver android:name=".service.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
          <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            <category android:name="${applicationId}" />
          </intent-filter>
        </receiver>

        <!-- Other -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="io.fabric.ApiKey"
            android:value="36ec6f9595f46111eed2e417d098e598d045b90c" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwaCo60RpTZGSItEJznAwXd5tolLZijc4"/>

    </application>
</manifest>
