<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- Kontalk Android client
     Copyright (C) 2017 Kontalk Devteam <devteam@kontalk.org>

     This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.kontalk"
      android:installLocation="internalOnly">

    <!-- internal permissions -->
    <permission android:name="${applicationId}.permission.NOTIFICATION_ACTION" android:protectionLevel="signature" />
    <permission android:name="${applicationId}.permission.MESSAGES" android:protectionLevel="dangerous"
        android:label="@string/permission_messages_label" android:description="@string/permission_messages_description"
        android:icon="@mipmap/ic_launcher"/>
    <permission android:name="${applicationId}.permission.USERS" android:protectionLevel="dangerous"
        android:label="@string/permission_users_label" android:description="@string/permission_users_description"
        android:icon="@mipmap/ic_launcher"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_PROFILE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="${applicationId}.permission.NOTIFICATION_ACTION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- device features will never be mandatory -->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>

    <application android:name=".Kontalk"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Light"
        android:fullBackupContent="false"
        android:allowBackup="true">

        <!-- Services -->
        <service android:name=".service.msgcenter.MessageCenterService"
            android:label="@string/service_name"/>
        <service android:name=".authenticator.AccountAuthenticatorService"
                 android:label="@string/authenticator_name"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service android:name=".sync.ContactsSyncAdapterService"
                 android:label="@string/sync_service_name"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_contacts"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts"/>
        </service>
        <service android:name=".service.DownloadService"
            android:label="@string/download_service"/>
        <service android:name=".service.UploadService"/>
        <service android:name=".service.KeyPairGeneratorService"/>
        <service android:name=".service.MediaService"/>
        <service android:name=".service.DirectShareTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service android:name=".service.MessagesImporterService"/>

        <!-- Content providers -->
        <provider android:name=".provider.MessagesProvider"
            android:exported="true"
            android:readPermission="android.permission.BIND_CHOOSER_TARGET_SERVICE"
            android:writePermission="${applicationId}.permission.MESSAGES"
            android:authorities="${applicationId}.messages"/>

        <provider android:name=".provider.UsersProvider"
            android:exported="true"
            android:readPermission="android.permission.BIND_CHOOSER_TARGET_SERVICE"
            android:writePermission="${applicationId}.permission.USERS"
            android:authorities="${applicationId}.users"/>

        <!-- Broadcast receivers -->
        <receiver android:name=".service.SystemBootStartup"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.NotificationActionReceiver"
            android:permission="${applicationId}.permission.NOTIFICATION_ACTION">
            <intent-filter>
                <action android:name="org.kontalk.ACTION_NOTIFICATION_DELETED"/>
                <action android:name="org.kontalk.ACTION_NOTIFICATION_MARK_READ"/>
            </intent-filter>
        </receiver>

        <!-- Activities -->
        <activity android:name=".ui.ConversationsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                android:value="org.kontalk.ui.SearchActivity" />
        </activity>

        <activity android:name=".ui.SearchActivity"
              android:parentActivityName=".ui.ConversationsActivity"
              tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
        </activity>

        <activity android:name=".ui.ComposeMessage"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".ui.ConversationsActivity"
            tools:targetApi="jelly_bean">
        <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/${applicationId}.user"
                    android:scheme="content"
                    android:host="com.android.contacts"
                    tools:ignore="AppLinkUrlError"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <!--
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/vcard" />
                <data android:mimeType="text/x-vcard" />
                </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="org.kontalk.service.DirectShareTargetService" />
        </activity>

        <activity android:name=".ui.prefs.PreferencesActivity"
              android:parentActivityName=".ui.ConversationsActivity"
              tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
        </activity>

        <activity android:name=".ui.prefs.NotificationPreferencesActivity"
              android:parentActivityName=".ui.ConversationsActivity"
              tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
        </activity>

        <activity android:name=".ui.RegisterDeviceActivity"
            android:label="@string/register_device_title"
            android:parentActivityName=".ui.prefs.PreferencesActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.prefs.PreferencesActivity" />
        </activity>

        <activity android:name=".ui.ImportDeviceActivity"
            android:label="@string/import_device_title"
            android:parentActivityName=".ui.NumberValidation"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.NumberValidation" />
        </activity>

        <activity android:name=".ui.NumberValidation"/>

        <activity android:name=".ui.CodeValidation"/>

        <activity android:name=".ui.ContactsListActivity"
            android:label="@string/contacts_list_title"
            android:parentActivityName=".ui.ConversationsActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
        </activity>

        <activity android:name=".ui.StatusActivity"
            android:label="@string/status_activity_title"
            android:parentActivityName=".ui.ConversationsActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
        </activity>

        <activity android:name=".ui.AboutActivity"
            android:parentActivityName=".ui.ConversationsActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
        </activity>

        <activity android:name=".ui.MyKeyActivity"
            android:label="@string/mykey_activity_title"
            android:parentActivityName=".ui.ConversationsActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ConversationsActivity" />
        </activity>

        <activity android:name=".ui.GroupInfoActivity"
            android:label="@string/groupinfo_activity_title"/>

        <activity android:name=".ui.GroupInfoDialog"
            android:theme="@style/Theme.Light.Dialog"
            android:label="@string/groupinfo_activity_title"/>

        <activity android:name=".ui.PositionActivity"
            android:label="@string/position_screen_title"
            android:parentActivityName=".ui.ComposeMessage"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.kontalk.ui.ComposeMessage" />
        </activity>

        <activity android:name=".ui.ScanTextActivity" />

        <activity android:name=".ui.ContactInfoActivity"
            android:label="@string/contactinfo_activity_title" />

        <activity android:name=".ui.ContactInfoDialog"
            android:theme="@style/Theme.Light.Dialog"
            android:label="@string/contactinfo_activity_title" />

        <activity android:name=".ui.QuickReplyActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Light.QuickReplyDialog"/>

    </application>
</manifest>
